.form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    border-radius: 5px;
    height: 100%;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 2.5px );
    -webkit-backdrop-filter: blur( 2.5px );
}

.form h3{
    font-weight: 600;
    color: white;
    margin-bottom: 20px;
    font-size: 26px;
}

.form input,
.form textarea,
.form select,
.form button{
    border-radius: 5px;
    border: 1px solid #dbdbdb;
    margin-bottom: 20px;
    background: transparent;
    color: white;
    outline: none;
    font-weight: 400;
    padding: 5px 10px;
    height: 37px;
    appearance: none;
    transition: .5s;
}

.form .btn:hover::before {
    transform: scale(1.1);
    box-shadow: 0 0 15px white;
  }
  
  .form .btn:hover {
    background: white;
    box-shadow: 0 0 5px white;
    color: black;
    font-weight: 500;
  }

.form select:focus{
    background-color: rgb(255 255 255);
    color: #575757;
} 

.btn{
    margin-bottom: 0 !important;
}


.form textarea {
    max-height: 171px;
    height: 171px;
    min-height: 171px;
    width: 100% !important;
    padding: 10px;
}

.form input::placeholder,
.form textarea::placeholder{
    color: white;
    font-family: inherit;
}

